/* .sidebar-link{
    display:flex;
    align-items:center;
    padding:14px 18px;
    margin-bottom:8px;
    color:white !important;
    border-radius:12px;
    transition:all .25s ease;
}

.sidebar-link:hover{
    background:#0d6efd;
    color:white !important;
}

.sidebar-link.active{
    background:#0d6efd !important;
    color:white !important;
}

.sidebar-link i{
    font-size:20px;
    min-width:24px;
}

.sidebar-link span{
    margin-left:15px;
} */
.nav-pills .nav-link {
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}
.nav-pills .nav-link {
  display: flex;
  align-items: center;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

/* Make sure nothing inside has its own background */
.nav-pills .nav-link i,
.nav-pills .nav-link span {
  background: none !important;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  z-index: 1050;
  transition: transform .35s ease;
  overflow-y: auto;
}

.menu-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
}

/* Desktop */

@media (min-width:992px){

.sidebar{
    transform:translateX(0);
}

.menu-btn{
    display:none;
}

.sidebar-overlay{
    display:none;
}

}

/* Tablet & Mobile */

@media (max-width:991px){

.sidebar{

    transform:translateX(-100%);
    border-radius:0 !important;
}

.show-sidebar{

    transform:translateX(0);
}

.sidebar-overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    z-index:1040;
}

}