.line-chart-card{
    background:#252a31;

    border:1px solid #343a40;

    border-radius:16px;

    padding:20px;
}

.chart-header{
    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

.chart-header p{
    color:#fff;

    font-size:20px;

    font-weight:600;

    margin:0;
}

.chart-header select{
    width:160px;
}

.line-chart{

    position:relative;

    height:340px;
}